


.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .form-container{
        background-color: #0d0d0d;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;

        h2{
            text-align: center;
            margin-bottom: 1.5rem;
            color: #333;
        }

        .form-group{
            margin-bottom: 1rem;

            label{
                display: block;
                margin-bottom: 0.5rem;
                color: #555;
            }

            input{
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;

                &:focus{
                    border-color: #007bff;
                    outline: none;
                }
            }
        }

        // button{
        //      background-color: #dd4200;
        //       border: none;
              
        //       color: white;
        //        padding-inline: 1rem;
        //        padding-block: 0.5rem;
        //          text-align: center;
        //          text-decoration: none;
        //          display: inline-block;
        //           font-size: 16px;
        //          }
     }
}